@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000009d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #093963;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #71b3ec;
  }